1. How do you comment code in Python? What are the different types of comments

In [6]:
# this is single line comment
"""" this is multiple lines 
      comment """
'''this is also multiple lines 
comment'''
l = 9

In [7]:
l

9

2. What are variables in Python? How do you declare and assign values to variables?

In [14]:
A = 1  # variable is memory location where data is stored

In [24]:
A = 1 # int assigned

In [23]:
B =  'Nitin' # String assignemnt

In [22]:
C = 1.5 # float assignment

In [21]:
D = True # boolean assignment

In [20]:
E = [1,2,3,4,5] #list assignment

In [19]:
F = (6,7)    # tuple assignment

In [18]:
G = {8,9}  # set assignment

In [17]:
H = {'a': 1, 'b':2}  # Dict assignment

In [25]:
print(A,B,C,D,E,F,G,H)

1 Nitin 1.5 True [1, 2, 3, 4, 5] (6, 7) {8, 9} {'a': 1, 'b': 2}

3. How do you convert one data type to another in Python

In [27]:
l = ['a','b',1,2,3]

In [29]:
t = tuple(l)  # change data type

In [32]:
s = set(l)

In [43]:
d = 'nitin'

In [44]:
e = list(d)

In [47]:
f = tuple(d)

In [50]:
g = [(1,2),(3,4),(5,6),(7,8)]

In [51]:
h = dict(g)

In [34]:
a = 5

In [36]:
b = str(a)

In [38]:
c = float(a)

In [40]:
d = bool(a)

In [62]:
print(l,t,s,d,e,f,g,h,a,b,c,d)

['a', 'b', 1, 2, 3] ('a', 'b', 1, 2, 3) {1, 2, 3, 'a', 'b'} nitin ['n', 'i', 't', 'i', 'n'] ('n', 'i', 't', 'i', 'n') [(1, 2), (3, 4), (5, 6), (7, 8)] {1: 2, 3: 4, 5: 6, 7: 8} 5 5 5.0 nitin

Q4. How do you write and execute a Python script from the command line?

Save file with .py extension and open CMD. Go in the file available directory and write command python or python3 file_name.py and press enter.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]

In [63]:
my_list = [1,2,3,4,5]

In [73]:
sub_list = my_list[1:3]

In [74]:
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
c = a+bi #In mathematics a and b are real numbers and i is imaginery number

In [75]:
c = 2+3j  # In python

In [77]:
type(c)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [78]:
age = 25

In [79]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [80]:
price = 9.99 # data type float

In [81]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [82]:
name = 'Nitin Dandotiya'

In [83]:
print(name)

Nitin Dandotiya

Q10. Given the string "Hello, World!", extract the substring "World".

In [84]:
a = "Hello World!"

In [89]:
a[6:11]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [94]:
is_student = False