In [1]:
x = 'nitin'

In [33]:
type(x)

str

In [28]:
y = [1,'abc', 2.5, 3+7j]

In [32]:
type(y)

list

In [30]:
z = 1.5

In [31]:
type(z)

float

In [34]:
a = (1 , 'b', 2, 'c',3)

In [35]:
type(a)

tuple

In [23]:
var1 = ''
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'python']
var4 = 1

In [24]:
type(var1)

str

In [25]:
type(var2)

str

In [20]:
type(var3)

list

In [21]:
type(var4)

int

In [38]:
10/2  # use for divison purpose

5.0

In [41]:
10%3  # use to know the reminder

1

In [44]:
10//2  # use to know quotient

5

In [45]:
2**3  # 2 to the power 3

8

In [1]:
A = [1,1.5,'x','y','z',3+8j,2,3,4,5]

In [2]:
for i in A:
    print(i)
    print('data type of list', type(i))

1
data type of list <class 'int'>
1.5
data type of list <class 'float'>
x
data type of list <class 'str'>
y
data type of list <class 'str'>
z
data type of list <class 'str'>
(3+8j)
data type of list <class 'complex'>
2
data type of list <class 'int'>
3
data type of list <class 'int'>
4
data type of list <class 'int'>
5
data type of list <class 'int'>

In [ ]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of A: "))

count = 0 

     while A >= B:
           A = A-B
        count += 1
    
    If A == 0:

In [14]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of A: "))
count = 0 

while A >= B:
    A = A - B
    count += 1
    
if A == 0:
    print('No of times A divided by B: ', count)
        
else:
    print("Not divisable")

Enter the value of A: 300
Enter the value of A: 3
No of times A divided by B:  100

In [21]:
N = [2, 7, 12, 15, 18, 21, 25, 30, 33, 36, 40, 42, 45, 50, 55, 60, 63, 66, 70, 72, 75, 80, 85, 90, 93]
for i in N:
    if i%3 == 0:
        print(i,"number divisible by 3")
    else:
        print(i,"number not divisble by 3 ")

2 number not divisble by 3
7 number not divisble by 3
12 number divisible by 3
15 number divisible by 3
18 number divisible by 3
21 number divisible by 3
25 number not divisble by 3
30 number divisible by 3
33 number divisible by 3
36 number divisible by 3
40 number not divisble by 3
42 number divisible by 3
45 number divisible by 3
50 number not divisble by 3
55 number not divisble by 3
60 number divisible by 3
63 number divisible by 3
66 number divisible by 3
70 number not divisble by 3
72 number divisible by 3
75 number divisible by 3
80 number not divisble by 3
85 number not divisble by 3
90 number divisible by 3
93 number divisible by 3

In [22]:
A = 'Nitin' # immutable

In [26]:
A[0]

'N'

In [24]:
B = [1, 2,3,4,5]  # mutable

In [28]:
B[0] = 10

In [29]:
B

[10, 2, 3, 4, 5]